<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
            <div class="content">
                {% include header.html %}
                {{ content }}
            </div>
        </div>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script type="text/javascript">
            {% include tooltip_home.js %}
            {% include tooltip_subscribe.js %}
        </script>
        {% for script in page.tooltips %}
            <script type="text/javascript">
                {% include {{ script.path }} %}
            </script>
        {% endfor %}
    </body>
</html>