---
layout: default
---
<article class="page">
    <div class="container">
        <div class="col-8 col-m-7 col-s-12 article-content">
            <div class="article-component">
                {% if page.title != "davidklaing.com" and page.title != "Subscribe" %}
                <h1>{{ page.title }}</h1>
                {% endif %}
                {% if page.last_updated %}
                <hr>
                <em>Last updated {{ page.last_updated }}</em>
                <hr>
                {% endif %}
                {{ content }}
            </div>
        </div>
        <div class="col-4 col-m-5 col-s-12 article-backlinks">
            <div class="article-component">
                {% if page.backlinks %}
                <h1>Links to this page</h1>
                {{ page.backlinks }}
                {% endif %}
            </div>
        </div>
    </div>
</article>